$mainBlack: #0d233e;
$black3: #5D646D;
$black3_light: #F5F7FC;
$mainBlue: #287dfa;
$bg_light: rgb(245, 247, 252);
$lightBlue: #337ab7;
$black1: #0D233E;



$bgBlackDark: #262626;
$bgBlackDarkLight: #4d4d4d;
$gray: #737373;
$yellow: #80430A;
$darkYellow: #c96810;
$yellow3: #BD5B00; 
$redAlert: #a94442;
$red: red;
$white: #fff;
$greenPrimary: #5cb85c;
$greenLight: #12d06c;
$greenDark: #3c763d;
$lightOrange: #ffa14c;
$border_gray: rgba(128, 137, 150, 0.2);
//*Transitions
$transition: 0.3s ease-in-out;


$--text-8: 8px;
$--text-10: 10px;
$--text-13: 13px;
$--text-14: 14px;
$--text-15: 15px;
$--text-16: 16px;
$--text-18: 18px;
$--text-20: 20px;
$--text-24: 24px;
$--text-26: 26px;
$--text-30: 30px;
$--text-40: 40px;
$--text-50: 50px;
$--text-70: 70px;
