$bg_light: rgb(245, 247, 252);

$yellowLight:#F5AE6B;

$bgBlackDark: #262626;

$gray: #737373;

$yellow: #80430A;

$darkYellow: #c96810;

$yellow3: #BD5B00; 

$border_gray: rgba(128, 137, 150, 0.2);
//*Transitions
$transition: 0.3s ease-in-out;


