.link {
    .link_section {
        .link_section_container {
            .linknametitle {
                font-size: 40px;
                text-transform: capitalize;
                font-weight: 700;
                padding-top: 1.5rem;
                padding-bottom: 1rem;
            }
        }
    }
}